@import "variables";
@import "mixins";
@import "base";

h2 {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  color: $text-color-primary;
  font-size: $font-size-subheading;
}
// dry this code with relation to _home.scss
.community,
.baptism {
  @extend %section-base;

  &.community {
    background-image: url($bg-image-community);
    background-position: $bg-position-worship;
  }
  &.baptism {
    background-image: url($bg-image-baptism);
    background-position: $bg-position-worship;
  }
}

.mission-statement {
  @include common-styles;

  padding: 2rem 90rem;
  font-size: 2rem;

  @media (max-width: 3880px) {
    padding: 2rem 70rem;
  }

  @media (max-width: 3155px) {
    padding: 2rem 50rem;
  }

  @media (max-width: 2288px) {
    padding: 2rem 30rem;
  }

  @media (max-width: 1563px) {
    padding: 2rem 10rem;
  }

  @include tablet {
    padding: 2rem 5rem;
    font-size: 2rem;
  }

  @include phone {
    font-size: 1.5rem;
  }
}


.community-involvement {
  // @include common-styles;
  padding: 3rem;
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;

  h1 {
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
  
  @include tablet {
    font-size: 2rem;
  }
  
  @include phone {
    font-size: 1.5rem;
  } 
}

.columns {
  display: flex;
  
  font-size: 2rem;

  @media (max-width: 2977px) {
    flex-direction: column;
  }
}

.column {
  padding: 3rem 30rem;

  @media (max-width: 1457px) {
    padding: 2rem 10rem;
  }

  @include tablet {
    padding: 2rem 5rem;
  }

  @include phone { 
    padding: 0;
    font-size: 1.5rem;
  }
}


.leadership-team {
  text-align: center;
  font-size: 35px;
  color: $text-color-primary;

  h3 {
    font-size: 1.2rem;
  }

  .leadership-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;

    @include tablet { // Tablet
      margin-top: 3rem;
    }

    .leader-profile {
      text-align: center;
      margin: 1rem;
      margin-bottom: 2rem;
      flex: 1;
      max-width: calc(50% - 2rem);

      @include tablet { // Tablet
        max-width: 100%; // Adjust for narrower screens
      }

      
      .leader-profile-img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;

        // @media (min-width: 2550px) {
        //   width: 800px;
        //   height: 800px;
        // }

        // @media (min-width: 2100px) {
        //   width: 600px;
        //   height: 600px;
        // }

        @media (min-width: 1500px) {
          width: 500px;
          height: 500px;
        }

        @include tablet { // Tablet
          width: 200px;
          height: 200px;
        }

        @include phone { // Phone
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.about-space {
  padding: 5rem;

  // @include tablet { // Tablet
  //   padding: 3rem;
  // }

  // @include phone { // Phone
  //   padding: 2rem;
  // }
}

.brief-desc {
  // padding: 0 50rem;

  @media (max-width: 1111px) {
    // flex-direction: column;
    padding: 0 2rem;
  }

  @include tablet { // Tablet
    padding: 0 10rem;
    font-size: 2rem;
  }

  @include phone { // Phone
    padding: 0 5rem;
    font-size: 1.5rem;
  }
}