@import "variables";
@import "mixins";

// FIX - dry this code with relation to _about.scss

.worship {
  @include bg-properties($bg-image-worship, $bg-position-worship);
}
// .junglehike {
//   @include bg-properties($bg-image-junglehike, $bg-position-junglehike);
// }
.bible {
  @include bg-properties($bg-image-bible, $bg-position-bible);
}
.community {
  @include bg-properties($bg-image-community, $bg-position-worship);
}
.baptism {
  @include bg-properties($bg-image-baptism, $bg-position-worship);
}
// .donations {
//   @include bg-properties($bg-image-donations, $bg-position-worship);
// }


.about,
.sermons {
  @include common-styles;

  h2 {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
}

.events {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  h2 {
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
}

.sermon-videos,
.events {
  margin-bottom: 5rem;

  @include tablet {
    margin-bottom: 3rem;
  }

  @include phone {
    margin-bottom: 2rem;
  }
}

// .sermon {
//   display: flex;
//   flex-direction: row;

//   @include tablet {
//     flex-direction: column;
//     align-items: center;
//   }
// }

.sermon-videos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
  margin-top: 8rem;
  margin-bottom: 12rem;

  @include tablet {
    flex-direction: column;
    align-items: center;
    height: 50rem;
  }
}

.sermon-videos iframe {
  width: 25vw;
  height: 25vh;
  margin: 1rem;

  @include tablet {
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
}

.events iframe {
  border: solid 1px #777;
  width: 80vw;
  height: 900px;
  max-width: 90vw;

  @media (max-width: 600px) {
      height: 300px;
  }
}

h2 {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  color: $text-color-primary;
  font-size: $font-size-subheading;
}

.mission-statement {
  @include common-styles;

  padding: 2rem 90rem;
  font-size: 2rem;

  @media (max-width: 3880px) {
    padding: 2rem 70rem;
  }

  @media (max-width: 3155px) {
    padding: 2rem 50rem;
  }

  @media (max-width: 2288px) {
    padding: 2rem 30rem;
  }

  @media (max-width: 1563px) {
    padding: 2rem 10rem;
  }

  @include tablet {
    padding: 2rem 5rem;
    font-size: 2rem;
  }

  @include phone {
    font-size: 1.5rem;
  }
}


.community-involvement {
  // @include common-styles;
  padding: 3rem;
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;

  h1 {
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
  
  @include tablet {
    font-size: 2rem;
  }
  
  @include phone {
    font-size: 1.5rem;
  } 
}

.columns {
  display: flex;
  
  font-size: 2rem;

  @media (max-width: 2977px) {
    flex-direction: column;
  }
}

.column {
  padding: 3rem 30rem;

  @media (max-width: 1457px) {
    padding: 2rem 10rem;
  }

  @include tablet {
    padding: 2rem 5rem;
  }

  @include phone { 
    padding: 0;
    font-size: 1.5rem;
  }
}


.leadership-team {
  text-align: center;
  font-size: 35px;
  color: $text-color-primary;

  h3 {
    font-size: 1.2rem;
  }

  .leadership-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;

    @include tablet { // Tablet
      margin-top: 3rem;
    }

    .leader-profile {
      text-align: center;
      margin: 1rem;
      margin-bottom: 2rem;
      flex: 1;
      max-width: calc(50% - 2rem);

      @include tablet { // Tablet
        max-width: 100%; // Adjust for narrower screens
      }

      
      .leader-profile-img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;

        // @media (min-width: 2550px) {
        //   width: 800px;
        //   height: 800px;
        // }

        // @media (min-width: 2100px) {
        //   width: 600px;
        //   height: 600px;
        // }

        @media (min-width: 1500px) {
          width: 500px;
          height: 500px;
        }

        @include tablet { // Tablet
          width: 200px;
          height: 200px;
        }

        @include phone { // Phone
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.about-space {
  padding: 5rem;

  // @include tablet { // Tablet
  //   padding: 3rem;
  // }

  // @include phone { // Phone
  //   padding: 2rem;
  // }
}

.brief-desc {
  // padding: 0 50rem;

  @media (max-width: 1111px) {
    // flex-direction: column;
    padding: 0 2rem;
  }

  @include tablet { // Tablet
    padding: 0 10rem;
    font-size: 2rem;
  }

  @include phone { // Phone
    padding: 0 5rem;
    font-size: 1.5rem;
  }
}