@import "variables";
@import "mixins";
@import "base";

// FIX - dry this code with relation to _about.scss

.worship,
.bible {
  @extend %section-base;

  &.worship {
    background-image: url($bg-image-worship);
    background-position: $bg-position-worship;
  }
  &.bible {
    background-image: url($bg-image-bible);
    background-position: $bg-position-bible;
  }
}

.about,
.events,
.sermons {
  @include common-styles;
  // padding: $padding-sections;
  // text-align: center;
  // font-size: $font-size-paragraph;
  // color: $text-color-primary;

  h2 {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
}


.sermon-videos,
.events {
  margin-bottom: 5rem;

  @include tablet {
    margin-bottom: 3rem;
  }

  @include phone {
    margin-bottom: 2rem;
  }
}

.sermon-videos {
  display: flex;
  justify-content: center;

  @include phone {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}
