@import "variables";
@import "mixins";
@import "base";
@import "hero";


.worship,
.bible {
  @extend %section-base;

  &.worship {
    background-image: url($bg-image-worship);
    background-position: $bg-position-worship;
  }
  &.bible {
    background-image: url($bg-image-bible);
    background-position: $bg-position-bible;
  }
}

// COMPONENT STYLES
.about,
.events,
.sermons {
  @include common-styles;

  @include tablet {
    font-size: 2rem;
  }

  @include phone {
    font-size: 4rem;
  }
}

.sermon-videos,
.events {
  margin-bottom: 5rem;

  @include tablet {
    margin-bottom: 3rem;
  }

  @include phone {
    margin-bottom: 2rem;
  }
}

.sermon-videos {
  display: flex;
  justify-content: center;

  @include phone {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}
