@import 'variables';
@import 'mixins';
@import 'hero';
@import 'header';
@import 'footer';
@import 'home';
@import 'about';

body, html {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }
}

#_next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
