@import 'variables';
@import 'mixins';


// Your global.scss should ideally be used for truly global styles, such as setting up typography, color themes, global margins, and paddings, or defining global mixins and variables. Component-specific styles are better managed within their respective modules using CSS Modules or Sass Modules.

body, html {
  // display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    display: flex;
    font-size: 12px;
  }
}

#_next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
