.leadershipTeam {
  .leadershipList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;

    // @include tablet { // Tablet
    //   margin-top: 3rem;
    // }

    .leaderProfile {
      // text-align: center;
      // margin: 1rem;
      // flex: 1;
      // max-width: calc(50% - 2rem);

      // @include tablet { // Tablet
      //   max-width: 100%; // Adjust for narrower screens
      // }

      .leaderProfileImg {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;

        // @include tablet { // Tablet
        //   width: 200px;
        //   height: 200px;
        // }

        // @include phone { // Phone
        //   width: 150px;
        //   height: 150px;
        // }
      }
    }
  }
}

.aboutSpace {
  padding: 5rem;

  // @include tablet { // Tablet
  //   padding: 3rem;
  // }

  // @include phone { // Phone
  //   padding: 2rem;
  // }
}

.briefDesc {
  padding: 0 20rem;

  // @include tablet { // Tablet
  //   padding: 0 10rem;
  // }

  // @include phone { // Phone
  //   padding: 0 5rem;
  // }
}